table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
  margin-left: 10px;
}

tr.example-detail-row {
  height: 0;
}
tr.example-film-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}
tr.example-film-row:not(.example-expanded-row):active {
  background: #efefef;
}
.example-film-row td {
  border-bottom-width: 0;
}
.example-film-detail {
  overflow: hidden;
  display: flex;
}
